body{
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	height: 100%;
}

.header{

}

.logo{

}

.menu{

}

.banner{

}

.team{

}

.team1{

}

.team2{

}

.team3{

}

.specifications{

}

.specl{

}

.specc{

}

.specr{

}

.footer{
	
}